<div class="modal hide">
  <button type="button" class="btn btn-danger pull-right" style="margin:15px" data-dismiss="alert">close</button>
  <div class="modal-header">
    <h4>Chatting with James</h4>
  </div>

  <div class="modal-body">
    <div id="chat_messages" style="overflow:auto; height:300px">
    </div>
    <div class="input-append">
      <input class="span4" id="chat_message" type="text" placeholder="enter your message"></input>
      <button class="btn btn-primary" id="chat_send">send</button>
    </div>
  </div>
</div>
